In [13]:
%load_ext dotenv
%dotenv

from config import *

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [4]:
def normalize_name(data: pd.DataFrame) -> pd.DataFrame:
    normalize_name = pd.json_normalize(data['name'])
    normalize_name = normalize_name.where(pd.notna(normalize_name), None)
    data[[col for col in normalize_name]] = normalize_name
    return data

def normalize_identifiers(data: pd.DataFrame) -> pd.DataFrame:
    normalize = pd.json_normalize(data['identifiers'])
    data[[col for col in normalize]] = normalize
    return data

def clean_data(data: pd.DataFrame, columns_to_drop: list) -> pd.DataFrame:
    return data.drop(columns=columns_to_drop, inplace=True, axis=1)

In [7]:
columns_to_drop = ['identifiers', 'location', 'timezone', 'inventory', 'name', 'country', 'region']
table_name = 'station_names'

data=pd.read_json('full.json')

normalize_name(data)
clean_data(data, columns_to_drop)

data

          id                                 en    no    de    sv    fi    es
0      00FAY                        Holden Agdm  None  None  None  None  None
1      00TG6                        Athabasca 1  None  None  None  None  None
2      01001                          Jan Mayen  None  None  None  None  None
3      01002                           Grahuken  None  None  None  None  None
4      01003                           Hornsund  None  None  None  None  None
...      ...                                ...   ...   ...   ...   ...   ...
22099  ZYHGP                            Lysaker  None  None  None  None  None
22100  ZYITU  Selfridge Air National Guard Base  None  None  None  None  None
22101  ZYTX0      Shenyang / Fengt'ien / Mukden  None  None  None  None  None
22102  ZZQV1                 Poppenburg (pegel)  None  None  None  None  None
22103  ZZU3Y                      Pa Atmos Erin  None  None  None  None  None

[22104 rows x 7 columns]

In [9]:
engine = create_engine(connection_string)
data.to_sql(table_name, engine, if_exists='replace', index=False)
engine.dispose()